body {
    margin: 0px;
    background-color: #DFD0B8;
}

strong{
    color: #111;
}

.banner img{
    max-height: 34vh;
    display: block;
}

h2{
    display: flex;
    justify-content: center;
    color: #153448;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
}

.cabecario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #153448;
    color: white;
    padding: 1.4rem;
}

.cabecario h1 {
    margin: 0px;
    font-size: 80px;
}

.banner{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
    background-color: #948979;
}

.formulario{
    background-color: #3C5B6F;
    color: white;
    font-size: 2.4rem;
    padding: 1.2rem;
}

form{
    display: flex;
    justify-content: center;
}

input{
    font-size: 2rem;
    border-radius: 1rem;
    padding: 0.7rem;
}

button{
    font-size: 2rem;
    padding: 14px;
    border-radius: 8px;
    background-color: #948979;
    color: white;
}

button:hover{
    background-color: #5b4c35;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.4rem;
    background-color: #153448;    
}

.pedais_disponiveis{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 4rem;
    gap: 6rem;
    color: white;
    font-size: 1.4rem;
}

.comprar{
    background-color: #948979;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.caixa-item{
    background-color: #677680 ;
    border-radius: 1rem;
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
}

.caixa-item p, h3{
    margin: 1rem;
    text-align: center;
    font-size: 2rem;
}

.caixa-item p, .comprar{
    grid-column: 2;
}

.comprar:hover{
    background-color: #5b4c35;
}

.imagem_pedal{
    max-height: 50vh;
    max-width:  50vw; 
    grid-row: span 4;
    margin-left: 2rem;
}